.btn.finish{
    width: 90%;
    position: fixed;
    bottom: 30px;
    min-height: 65px;
    font-size: 30px;
}

.animated-placeholder {
    pointer-events: none;
    transition: .3s all;
    transform: translate(13px, 30px);
    display: inline-flex;
    color: #999999;
}

.onEditing {
    color: #393e46;
    transform: translate(3px, -8px);
}